.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border: none;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  top: 8px;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgb(51, 102, 204, 0.1);
  color: #171717;
}
.ant-menu-item {
  border-radius: 10rem !important;
  border-bottom: none !important;
  &:hover {
    border-bottom: none !important;
  }
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  background-color: #256bf4 !important;
  color: #fff;
}
